{
  "extends": ["triple/svelte"],
  "env": {
    "browser": true,
    "node": true,
  },
  "globals": {
    "$props": true,
    "$state": true,
    "$derived": true,
    "$effect": true,
  },
  "parserOptions": {
    "project": "./tsconfig.eslint.json",
  },
  "rules": {
    "import/extensions": "off",
    "@typescript-eslint/no-unused-vars": "off",
  },
  "overrides": [
    {
      "files": ["*.svelte"],
      "rules": {
        "svelte/valid-compile": "off",
        "prefer-const": "off",
      },
    },
    {
      "files": ["*.svelte.ts"],
      "rules": {
        "filenames/match-exported": ["warn", null, "\\.svelte$"],
      },
    },
  ],
}
